<main class="container answers-wrap">
	<article class="answers row">
		<section class="col-md-8 col-md-offset-2">
			<p><%= link_to "95books.com", root_path, class: "answers-logo" %> centralizes the activity of <span class="hashtag95"><a href="https://twitter.com/search?q=95books&src=typd"> #95books on Twitter.</a></p>
			<p><%= link_to "95books.com", root_path, class: "answers-logo" %> is meant to provide a resource for both writers and readers, perhaps catering to questions like, <em>What should I read next?</em> or more scandalously: <em>Who's reading who?</em> ...</p>
			<p>All inquiries can be addressed to <span class="emailme"><a href="mailto:poetxt@poetxt.ca" target="_blank">poetxt@poetxt.ca</a></span></p>
		</section>
	</article>
</main>