 <footer class="footer">
      <div class="container">
        <section class = "footer-details">
        	<p>#95books was co-created by Jonathan Ball (PhD) and Ryan Fitzpatrick</p>
        	<p>95books.com was created by @P0ETXT</p>
        </section>
      </div>
</footer>