 <footer class="footer">
      <div class="container">
        <section class = "row footer-details-wrap">
        	<section class="footer-details">
        		<section class="credits col-md-8">
        			<p><a href="https://twitter.com/search?q=95books&src=typd">#95books</a> was co-created by <a href="https://twitter.com/jonathanballcom">@Jonathan Ball</a> and <a href="https://twitter.com/ryanfitzpublic">@Ryan Fitzpatrick</a></p>
        			<p><a href="#">95books.com</a> was created by <a href="https://twitter.com/P0ETXT">@P0ETXT</a></p>
        		</section>
        		<section class="contact col-md-4 text-right">
        			<p><a href="#">Questions?</a></p>
        		</section>
        	</section>
        </section>
      </div>
</footer>