<header class="container">
	<section class="logo-wrap">
		<section class="logo">
			<h1 id = "logo-text">#95BOOKS</h1>
		</section>	
		<section class = "tagline-wrap">
			<h4><span id = "tagline">what you're reading</span></h4>
		</section>

	</section>
	<article class="row stats-wrap">
		<section class="reader-stats col-md-3 col-md-offset-2">
			<h4>CURRENT READERS: <%= Reader.all.length %></h4>
		</section>
		<section class="book-stats col-md-3 col-md-offset-2">
			<h4>BOOKS READ: <%= Book.all.length %></h4>
		</section>
	</section>
</header>	